.container{
    width: 100% !important;
    height: auto !important;
    background: #128663;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: #BAD797 !important;
    color: white;
}